
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.arch_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;
    background-color: var(--color-card-background);
    position: relative;
    /* overflow: hidden; */
}

.arc {
    width: 100%;
    height: 100px;
    background-color: var(--color-card-background);
    border-radius: 50%;
    position: absolute;
    top: 85%;
    z-index: -100;
}

.content_left_career,
.right_carrer_cont {
    width: 50%;
    padding: var(--gap-base);
    margin: var(--gap-base);
}

.content_left_career{
    margin-top: 5%;
}

.content_left_career h1 {
    font-size: var(--font-size-xxlarge);
    color: var(--color-primary);
    margin-bottom: var(--gap-tiny);
}

.content_left_career p{
    margin: var(--gap-small);
}

.content_left_career button {
    text-align: center;
    padding: 16px;
    border-radius: var(--gap-tiny);
    border: none;
    background-color: var(--color-accent);
    color: var(--color-background);
    cursor: pointer;
    font-size: var(--font-size-base);
}

.content_left_career button:hover {
    background-color: var(--color-light);
    color: var(--color-background);
}


.info_container {
    margin-top: var(--gap-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

}

.content_left_career p,
.info_container p {
    font-size: var(--font-size-base);
    color: var(--color-primary);
}

.info_container h2 {
    font-size: var(--font-size-xlarge);
    color: var(--color-primary);
    font-weight: 100;
}