body {
    background-color: var(--color-light-background);
    position: absolute;
    top: 18%;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gap-base);
    margin-left: var(--gap-large);
    color: var(--color-primary);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
    margin-left: var(--gap-large);
}

.cart-item {
    background: white;
    border-radius: var(--border-radius);
    padding: var(--gap-base);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    max-height: 100px;
}

.cart-info {
    display: flex;
    flex-direction: column;
}

.cart-info h3 {
    margin: 0 0 var(--gap-small) 0;
}

.cart-info p {
    margin: 2px 0;
    font-size: var(--font-size-small);
}

.button_div{
    display: flex;
    gap:var(--gap-base);
}

.remove-btn,
.view-btn {
    background-color: var(--color-tertiary);
    border: none;
    color: white;
    padding: var(--gap-small) var(--gap-base);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.view-btn{
    background-color: var(--color-primary);
}

.view-btn:hover{
    background-color: var(--color-dark);
}

.remove-btn:hover {
    background-color: #b93221;
}

.empty-cart {
    font-size: var(--font-size-base);
    color: var(--color-secondary);
}