body {
    background-color: var(--color-light-background);
}

.left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    width: 50%;
    height: 100vh;
    padding: var(--gap-base) 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
}


#return {
    text-decoration: none;
    border-radius: var(--gap-tiny);
    width: 100px;
    text-align: center;
    padding: var(--gap-small) var(--gap-base);
    background-color: var(--color-accent-dark);
    color: var(--color-background);
    border: none;
    cursor: pointer;
    margin-right: var(--gap-large);
}

.image_div{
    width: 90%;
    height: 75%;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--gap-xlarge);

}

.image_div img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;

}

.button_cta_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--gap-large);
}

.CTA_button{
    margin-top: var(--gap-base);
    margin-left: var(--gap-base);
    border-radius: var(--gap-tiny);
    width: 90%;
    max-width: 90%;
    height: 20px;
    padding: var(--gap-base);
    background-color: var(--color-text-primary);
    color: var(--color-background);
    opacity: 1;
    border: none;
    transition: opacity 1s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.qty_input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 100vh;
    color: var(--color-secondary);
}

.product_listing {
    /* background-color: aquamarine; */
    width: 550px;
    height: 600px;
    padding: var(--gap-base);
    color: var(--color-text-primary);
    gap: var(--gap-base);
}

.product_listing h1 {
    font-size: var(--font-size-xxlarge);
    line-height: var(--line-height-base);
}

.product_listing #price {
    color: var(--color-text-highlight);
    padding: var(--gap-small) var(--gap-base);
    font-size: var(--font-size-base);
    letter-spacing: 1px;
}

.description_div {
    display: flex;
    flex-direction: column;
    margin: var(--gap-base);
    padding: var(--gap-small);
    gap: var(--gap-base);

}

.description_div h4{
   letter-spacing: 2px;
   color:var(--color-text-secondary)
}

#buynow {
    background-color: var(--color-accent-dark);
}

