.main_section {
  display: flex;
  justify-content: space-between;
  margin:  10vh 2vw;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

.content_left {
  width: 85%;
  display: flex;
  flex-direction: column;
  /* height: max-content; */
}

.content_right {
  width: 15%;
  height: fit-content;
  background-color: var(--color-muted);
  margin-top: -10vh;
}

.center_box {
  position: absolute;
  bottom: 30%;
  left: 75%;
  background-image: url(../Images/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--gap-small);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 var(--gap-large) 0 var(--gap-large);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}

.slide-down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.text_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 5%;
}

.text_content h1 {
  font-size: var(--font-size-xxlarge);
  font-weight: bolder;
  width: 80%;
  color: var(--color-text-primary);
  margin-bottom: var(--gap-base);
  line-height: 1.25;
}

.text_content p {
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  width: 80%;
  line-height: 1.5;
}

.features-grid p, .feature_detail p{
  color: var(--color-text-secondary);
  line-height: 1.25;
}

.feature_detail h3{
  font-size: var(--font-size-base);
}

.input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  height: 50px;
  gap: var(--gap-base);
  margin-top: 5%;
}

.search-bar {
  background-color: var(--color-muted);
  border: none;
  border-radius: var(--gap-tiny);
  width: 50%;
  font-size: var(--font-size-base);
  padding: var(--gap-base);
  color: var(--color-text-primary);
}

.search-btn {
  font-size: var(--font-size-base);
  padding: var(--gap-small) var(--gap-base);
  background-color: var(--color-secondary);
  color: var(--color-background);
  border: none;
  border-radius: var(--gap-tiny);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.CTA-block,.features-grid {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-base);
  margin-top: var(--gap-base);
  padding: var(--gap-base);
  height: max-content;
  width: 90%;
  margin-left: var(--gap-xxlarge);
}

.CTA-block button {
  font-size: var(--font-size-base);
  font-weight: 700;
  width: 200px;
  text-decoration: none;
  border: 1px solid var(--color-light);
  border-radius: var(--gap-tiny);
  text-align: center;
  padding: var(--gap-medium) var(--gap-base);
  background-color: var(--color-light);
  color: var(--color-background);
  opacity: 1;
  transition: opacity 1s ease;
  cursor: pointer;
}

.CTA-block .cta_browse {
  background: var(--color-teritary);
  color: var(--color-text-primary);
}

.features-grid {
  gap: var(--gap-large);
  padding: 0 var(--gap-base);
}


.icon_container {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  color:var(--color-primary);
}

.feature_element {
  display: flex;
  flex-direction: row;
  gap: var(--gap-base);
  margin: var(--gap-base) 0;
}

.feature_element .feature_detail{
   display: flex;
   flex-direction: column;
}


.features_block hr {
  border: none;
  border-top: 1px solid rgba(78, 78, 78, 0.25);
  width: 60%;
  transform: translateY(-24px);
  width: 300px;
}

.search-btn:hover,
.search-btn:active,
.navbar a:hover,
.register_btn:hover {
  background-color: var(--color-light);
  color: var(--color-background);
}


#details_feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--gap-xxlarge) 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--gap-large);
  max-width: 1000px;
}

.box_el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px
}

.box_el #par{
  font-size: var(--font-size-medium);
  color: var(--color-text-primary);
  margin: var(--gap-tiny);
  font-weight: bold;
}

.box_el small {
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);

}

#about{
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap-medium);
 margin: var(--gap-xxlarge) 0;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--gap-small);
  width: 50%;
}

.features h2,
.get_started h2,
#details_feature h1,
.features-grid h2 {
  font-size: var(--font-size-xlarge);
  color: var(--color-text-primary);
}

.features ul {
  list-style: none;
  margin-top: var(--gap-base);
}

.features li,
.get_started p,
#details_feature p{
  font-size: var(--font-size-base);
  margin: var(--gap-small) 0;
  color: var(--color-text-secondary);
}


.features i {
  color: var(--color-accent);
  margin-right: var(--gap-small);
}

.get_started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-focus);
  max-width: 30%;
  padding: var(--gap-large);
  margin: var(--gap-large);
    border-radius: 40px 10px;

}

.get_started button {
  font-size: var(--font-size-base);
  border-radius: var(--gap-tiny);
  text-align: center;
  padding: var(--gap-small) var(--gap-base);
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border: none;
  margin: var(--gap-base) 0;
}

.get_started button:hover,
.get_started button:active {
  background-color: var(--color-accent);
}
