.body_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 8%;
    width: 90%;
    height: 100vh;
    color: var(--color-secondary);
}






